.forums-panel{
	overflow: hidden;
	min-height: 150px;
}

.open{
	height: 100%;
	max-height: 1000px;
	overflow-y: auto;
	overflow-x: hidden;
}

.closed-panel{
	overflow-y: hidden;
	overflow-x: hidden;
	max-height: 50px;
}

/*.post-vote-wrapper, .post-comment-vote-wrapper{

	padding-left: 0px;
}*/

.post-wrapper{
	padding-right: 40px;
	padding-left: 0px;
}

.up-vote-wrapper, .down-vote-wrapper, .positive-count-wrapper{
	text-align: center;
	width: 100%;
}

.glyphicon-chevron-up{
	margin-top: 20px;
	margin-left: 2px;
}

.glyphicon-chevron-right{
	color: #777;
	margin-right: 5px;
}

.glyphicon-chevron-right-rotate{
	-webkit-transform: rotate(90deg); /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(90deg);   /* Firefox 3.5-15 */
    -ms-transform: rotate(90deg);  /* IE 9 */
    transform: rotate(90deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
}

.glyphicon-chevron-right-transition{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
    transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}

.vote-neutral{
	color: #777;
	cursor: pointer;
}

.vote-positive{
	color: #F44336;
	cursor: pointer;

}

.vote-negative{
	color: #0D47A1;
	cursor: pointer;
}

.add-post-link{
	margin-right: 5px;
}

.header-link-collapse{
	cursor: pointer;
}

.edit-post, .edit-comment{
	color: #428bca !important;
	margin-right: 5px;
}

.comment-control-wrapper{
	margin-top: 40px;
	margin-left: 15px;
}

.comment-control-col{
	padding-left: 0px;
}

.report-abuse-link{
	color: #777;
	text-decoration: none;
	padding-right: 15px;
}

.report-abuse-link-post{
	color: #777;
	text-decoration: none;
	padding-right: 48px;
}

.report-abuse-link:hover,{
	/*color: #d9534f;*/
	text-decoration: none;
}

.glyphicon-flag:hover{
	cursor: pointer;
	
}

.glyphicon-flag-reported{
	color: #d9534f;
}

.comment-link{
	margin-top: -1px;
}

.comment-wrapper{
	margin-top: 10px;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 1000px;
}

.post-comment-vote-wrapper{
	padding-right: 0px;
	padding-left: 15px;
}

.comment-glyphicon{
	margin-top: 0px;
}

.pagination-top{
	margin-bottom: 0px;
	margin-left: 23%;
}

.pagination-bottom{

}

.post-nav{
	text-align: center;
}

.post-filter-wrapper{
	margin-top: 10px;
	margin-right: 0px;
}

.post-container{
	padding-right: 0px;
}

.carousel{
	height: 600px;
}

.graph{
	height: 200px;
	width: 300px;
}

.graphLeftBtn, .graphRightBtn{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.owl-nav{
	text-align: center;
}

.post-author{
	color: #777;
}

.glyphicon-trash:hover{
	color: #E13300;
	cursor: pointer;
}

.body-text{
	max-height: 1000px;
}

.user-comment{
	padding-right: 30px;
}

.delete-comment{
	margin-right: 5px;
}