html {
  overflow-y: scroll;
}

.log-in-input{
	display: block !important;
}

.navbar{
	margin-bottom: 0px;
}

.navbar-static-top{
	z-index: 3;
}

.remember-me-checkbox{
	margin-top: 0px !important;
}

.log-in-button{
	margin-bottom: 20px;
}

.log-in-form{
	margin-bottom: 0px;
	margin-top: 5px;
	margin-left: 70px;
	padding: 0px;
}

.navbar-site-brand{
	margin-top: 5px;
	margin-bottom: 5px;
}

.user-name{
	color: #777;
	display: inline-block;
	margin-top: 18px;
	font-size: 125%;
}

.log-out-button{
	margin-bottom: 5px;
	margin-left: 5px;
}

.navbar-nav{
	height: 60px;
}

.navbar-nav > li > a{
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-col{
	height: 60px;
	padding: 0px;
}

.login-form-col{
	padding-left: 25px;
}

.html-no-bar{
	overflow-y: hidden;
}

#editPostBody, #addPostBody, #addCommentBody, #editCommentBody, #flagForumPostCommentBody{
	max-width: 570px;
	min-width: 570px;
	min-height: 300px;
}

.modal-col{
	padding-left: 0px;
}

.addPostCategoryLabel, .flagForumPostLabel{
	display: inline-block;
}

#addPostCategory{
	margin-bottom: 15px;
	height: 30px;
	display: block;
}

.success{
	border: 1px solid green;
}

.form-control.error{
	border: 1px solid #E13300;
}

#passwordConfirm-error{
	display: none !important;
}

#addPostBody-error, #addPostTitle-error, #addPostCategory-error, #addCommentBody-error, #editPostBody-error, #editPostTitle-error, .error-text-info{
	color: #E13300;
}

.error, #flagForumPost-error, #addPostBody-error, #addPostTitle-error, #addPostCategory-error, #addCommentBody-error, #editPostBody-error, #editPostTitle-error, #editCommentTitle-error{
	color: #E13300;
}

.update-profile-success-wrapper, .update-profile-error-wrapper, .update-expenses-success-wrapper, .flag-post-success-wrapper, .noUser-vote-warning-wrapper, .add-post-success-wrapper, .edit-post-success-wrapper, .add-comment-success-wrapper, .delete-post-success-wrapper, .edit-comment-success-wrapper, .delete-comment-success-wrapper, .noUser-vote-warning-wrapper{
	position: fixed;
	left: 50%;
	margin-top: 10px;
	z-index: 10;
	display: none;
	width: 350px;
	margin-left: -175px;
}

#update-profile-success, #update-expense-success, #flag-podt-success, #add-post-success, #edit-post-success, #add-comment-success, #delete-post-success, #edit-comment-success, #delete-comment-success{
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
	z-index: 10;
	border-radius: 5px;
	text-align: center;
}


#update-profile-error{
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
	z-index: 10;
	border-radius: 5px;
	text-align: center;
}

#noUser-vote-warning{
	background-color: #fcf8e3;
	color: #8a6d3b;
	z-index: 10;
	border-radius: 5px;
	text-align: center;
	border-color: #faebcc;
}

.no-posts-wrapper{
	width: 100%;
	margin-top: 15px;
	background-color: #d9edf7;
	position: relative;
	margin-left: -30px;
	text-align: center;
}

.no-comments-wrapper{
	width: 95%;
	background-color: #d9edf7;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 20px;
}

#no-posts-message, #no-comments-message{
	background-color: #d9edf7;
	border-radius: 5px;
}

.no-comments-col{
	margin-left: -15px;
}

#flagForumPost{
	display: block;
}