.profile-info-section{
	width: 100%;
}

.alert-info{
	margin-top: 10px;
}

hr{
	margin-top: 0px;
}

.profile-info-hr{
	margin-top: 3px;
}

.btn-add-expense{
	bottom: 0;
	float: right;
}

.button-wrapper{
	bottom: 0;
	margin-top: 15px;
}

.user_profile_wrapper{
	padding: 0;
}

.expense-list-wrapper{
	max-height: 300px;
	overflow-x: hidden;
}

.userProf-control-panel{
	margin-bottom: 0px;
}

.table-striped{
	margin-bottom: 0px;
}

.category-list{
	margin-bottom: 0px;
	border-top: 0px;
	max-height: 300px;
    max-width: 358px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    overflow-x: hidden;
}

.category-list > .list-group-item{
	border-left: 0px;
	border-right: 0px;
}

.list-group-item{
	margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.list-group-item:last-child{
	border-bottom-width: 0px;
}

.list-group-item:first-child{
	border-top: 0px;
}

.category-heading{
	border-bottom: 1px;
}

.panel-info > .panel-heading{
	margin-bottom: 0px;
}

.category-list-collapse{
	overflow-x: hidden;
	max-height: 300px;
}

.expense-name{
	padding-right: 0px;
    border-right-width: -10;
    padding-left: 15px;
}

.expense-cost{
	padding-right: 0px;
    padding-left: 0px;
}

.expense-occurance{
	padding-right: 0px;
    padding-left: 0px;
}

.delete-expense-item{
	padding-left: 0px;
    padding-right: 0px;
}

.total-cost, .total-name, .total-occurance{
	font-weight: bold;
}

.category-add, .category-delete{
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 10px;
}

.category-affix{
	width: 100%;
	max-width: 360px;
}

#usersFirstName, #usersLastName{
	font-family: inherit;
  	font-weight: 500;
  	line-height: 1.1;
  	font-size: 30px;
  	margin-bottom: 10px;
}

#editUserProfileData{
	margin-top: 10px;
	font-size: 18px;
	cursor: pointer;
}

.firstLast-name-formGroup{
	margin-bottom: 0px;
	padding-right: 0px;
}

.expense-title{
	display: inline-block;
}

.success{
	border: 1px solid green;
}

.form-control.error{
	border: 1px solid #E13300;
}

#addExpenseOccurence-error, #addExpenseAmount-error, #addExpenseTitle-error, #editUserFirstName-error, #editUserLastName-error, #editUserEmail-error, #editUserUsername-error, #editUserPassword-error, #currentUserPassword-error{
	color: #E13300;
}

.error-show{
	display: inline !important;
}

.addExpenseToForm, .editExpenseToForm{
	color: #5cb85c;
	display: inline-block;
	cursor: pointer;
	margin-left: 5px;
	margin-bottom: 10px;
}

.addCatExpense, .editCatExpense{
	display: inline-block;
}

.newExpenseForCat{
	padding-right: 0px;
}

.title-col, .expenseCostTitle, .expense-interval, .catTotalCost{
	padding-left: 0px;
}

.expenseOccurenceTitle{
	padding-left: 30px;
}

.occurence-col{
	padding-right: 0px;
}

.trash-col{
	margin-top: 7px;
}

.expense-hr{
	margin-bottom: 0px;
}

.delete-expense-interv{
	margin-left: 30px;
}

.delete-category-list{
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.scroll{
	overflow-x: none;
	overflow-y: auto;
}

.deleteCatExpenseText{
	max-height: 350px;
}